<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	 
	<context:component-scan base-package="user.action">
	</context:component-scan>
<!-- 	<bean id ="userRegistrationAction" class="user.action.user_registration" scope="prototype"></bean> -->
		<bean id ="userLoginAction" class="user.action.Login" scope="prototype"></bean>
<!-- 	<bean id ="userLogoutAction" class="user.action.logout" scope="prototype"></bean> -->
<!-- 	<bean id ="userAddBio" class="user.action.EditBio" scope="prototype"></bean> -->
<!-- 	<bean id ="userEditProfileAction" class="user.action.EditProfile" scope="prototype"></bean> -->
<!-- 	<bean id ="userCollectionWorkAction" class="user.action.CollectionWork" scope="prototype"></bean> -->
<!-- 	<bean id ="userListBioAction" class="user.action.ListBio" scope="prototype"></bean> -->
<!-- 	<bean id ="userEditBioAction" class="user.action.EditBio" scope="prototype"></bean> -->
<!-- 	<bean id ="userDeliverBioAction" class="user.action.DeliverBio" scope="prototype"></bean> -->
<!-- 	<bean id ="userListMessageAction" class="user.action.ListMessage" scope="prototype"></bean> -->
	
	<context:component-scan base-package="company.action">
	</context:component-scan>
<!-- 	<bean id ="companyRegistrationAction" class="user.action.company_registration" scope="prototype"></bean> -->
<!-- 	<bean id ="companyJobTypeAction" class="company.action.JobType" scope="prototype"></bean> -->
<!-- 	<bean id ="companyAddJobAction" class="company.action.AddJob" scope="prototype"></bean> -->
<!-- 	<bean id ="companyEditInfoAction" class="company.action.EditInfo" scope="prototype"></bean> -->
<!-- 	<bean id ="companyListJobAction" class="company.action.ListJob" scope="prototype"></bean> -->
<!-- 	<bean id ="companyListBioAction" class="company.action.ListBio" scope="prototype"></bean> -->
<!-- 	<bean id ="companyMessageAction" class="company.action.Message" scope="prototype"></bean> -->
	
</beans>